/* Подключение шрифтов */
@font-face {
  font-family: 'BebasNeueBold';
  src: url('../fonts/BebasNeueBold.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

/* @font-face {
  font-family: 'OpenSans';
  src: url('/fonts/OpenSans-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
} */

@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/OpenSans-Bold.woff2) format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/OpenSans-Extrabold.woff2) format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/OpenSans-SemiBold.woff2) format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/OpenSans.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
:where(h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
:where(ul[class]) {
  list-style: none;
}

/**
   Обнуляем вертикальные внешние отступы параграфа,
   объявляем локальную переменную для внешнего отступа вниз,
   чтобы избежать взаимодействие с более сложным селектором
  */
p {
  --paragraphMarginBottom: 24px;

  margin-block: 0;
}

/**
   Внешний отступ вниз для параграфа без атрибута class,
   который расположен не последним среди своих соседних элементов
  */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}


/**
   Упрощаем работу с изображениями
  */
img {
  display: block;
  max-width: 100%;
}

/**
   Наследуем свойства шрифт для полей ввода
  */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
  height: 100%;
  /**
     Плавный скролл
    */
  scroll-behavior: smooth;
}

body {
  /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
  min-height: 100%;
  /**
     Унифицированный интерлиньяж
    */
  line-height: 1;
}

/**
   Приводим к единому цвету svg-элементы
  */
svg *[fill] {
  fill: currentColor
}

svg *[stroke] {
  stroke: currentColor
}

/**
   Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
svg * {
  transition-property: fill, stroke;
}

/**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* button {
  padding: 0;
  margin: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
} */

/* Переменные для цвета */
:root {
  --blue-color: #00A4E5;
  --white-color: #FFFFFF;
  --accent-color: #16ACE8;
  --text-color: #48555B;
  --bg-black: #171819;
  --bg-footer-body-black: #141A20;
  --font-family-title: 'BebasNeueBold', Arial, San-Serif;
  --font-family-base: 'Open Sans', Arial, San-Serif;
  --border-color: #E6E6E6;
}

h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
ol,
div,
input,
button {
  color: var(--text-color);
  font-family: var(--font-family-base);
}



.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1440px;
  margin-inline: auto;
  background-color: var(--white-color);
}

.container-inner {
  max-width: 940px;
  margin-inline: auto;
}

body {
  background-color: #F2F2F2;
}

.text-p {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.77;
  letter-spacing: 0.188px;
}


.header__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 769px;
  margin-inline: auto;
  background: url(../img/bg-header.png) center/cover no-repeat #232222;
}

.header-logo {
  padding-top: 41px;
  margin-bottom: 330px;
  width: 102px;
  height: 23px;
}

.header-title {
  padding-left: 40px;
  color: var(--white-color);
  font-family: var(--font-family-title);
  font-size: clamp(50px, 4.17vw, 60px);
  font-weight: 400;
  letter-spacing: 5.709px;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
}


.header-title-description {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.35px;
  text-align: center;
  color: var(--white-color);
}

.header-title-description:not(:last-child) {
  margin-bottom: 226px;
}

.header-pointer-text {
  padding-left: 2px;
  padding-right: 120;
  color: var(--white-color);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 3.9px
}

.header__bottom {
  display: flex;
  justify-content: space-between;
  min-height: 65px;
  background-color: var(--white-color);
  padding-left: 249px;
  padding-right: 248px;
  border: 1px solid var(--border-color);
}

.header__bottom-logo {
  flex-shrink: 0;
  width: 80px;
  height: 18px;
  padding-top: 22px;
}

.header__menu-list {
  display: flex;
  justify-content: flex-start;
}

.header__menu-item:nth-child(1) {
  margin-right: 47px;
}

.header__menu-item:nth-child(2) {
  margin-right: 41px;
}

.header__menu-item:nth-child(3) {
  margin-right: 40px;
}

.header__menu-item:nth-child(4) {
  margin-right: 30px;
}


.header__menu-item {
  padding-top: 18px;
}

.header__menu-link {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.091px;
  text-transform: uppercase;
  text-decoration: none;
}

.header__menu-link:hover {
  color: var(--blue-color);
  background-color: var(--text-color);
  font-weight: 700;
}

.is-current {
  color: var(--blue-color);
  font-weight: 700;
}

.about-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2.2px;
  text-transform: uppercase;
}

.about-title {
  margin-bottom: 53px;
  padding-top: 60px;
  padding-left: 5px;
}

.section-title::after {
  content: '';
  display: block;
  width: 50px;
  height: 2px;
  background-color: var(--accent-color);
}

.about-title::after {
  margin: 13px auto 0;
}

.about__info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 118px;
}

.about__info-text {
  max-width: 406px;
}

.about-fact {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.08px;
  line-height: normal;
}

.about-fact:not(:last-child) {
  margin-bottom: 32px;
}

.about-fact>span {
  letter-spacing: 0.17px;
  color: var(--blue-color);
}

.about__taglines {
  display: flex;
  align-items: flex-end;
  column-gap: 20px;
}

.about-tagline {
  width: 140px;
  height: 224px;
  padding-top: 15px;
  padding-left: 14px;
  font-size: 24px;
  font-weight: 800;
  line-height: 1.21;
  letter-spacing: 0.188px;
  text-transform: uppercase;
  color: var(--white-color);
}

.about-tagline:nth-child(1) {
  background: url(../img/plan.png) center/cover no-repeat #b1b0b0;
}

.about-tagline:nth-child(2) {
  background: url(../img/manage.png) center/cover no-repeat #b1b0b0;
}

.about-tagline:nth-child(3) {
  background: url(../img/build.png) center/cover no-repeat #b1b0b0;
}

.services__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 75px;
}

.sevices-title {
  margin-right: 120px;
}

.sevices-title::after {
  margin-top: 13px;
}

.services__header-text {
  max-width: 405px;
  font-size: 11px;
  line-height: 1.73;
  letter-spacing: 0.2px;
}

.button-link {
  display: inline-flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 40px;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--blue-color);
  border: none;
}

.services__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 115px;
}

.services-item {
  max-width: 295px;
  min-height: 330px;
  padding: 38px 23px 0;
  border: 1px solid var(--border-color);
}

.services-image {
  margin-bottom: 25px;
}

.services-item-title {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}

.build {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 492px;
  background: url(../img/bg-build.png) center/cover no-repeat var(--bg-black);
}

.build-title {
  width: 350px;
  flex-shrink: 0;
  padding-top: 121px;
  margin-bottom: 35px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.26px;
}

.newsletter {
  min-height: 100px;
  background-color: var(--bg-black);
}

.newsletter-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 685px;
  margin-inline: auto;
  padding-top: 37px;
}

.newsletter-title {
  flex-grow: 1;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.4px;
  color: var(--white-color);
}

.newsletter-wrapper form {
  display: flex;
  align-items: center;
}

.newsletter-wrapper input {
  width: 250px;
  height: 40px;
  padding-left: 17px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.07px;
  color: var(--text-color);
  border: none;
}

.footer {
  font-size: 11px;
  font-weight: 400;
  line-height: 2.27;
  letter-spacing: 0.846px;
  color: var(--white-color);
}

.footer-body {
  display: flex;
  min-height: 240px;
  background-color: var(--bg-footer-body-black);
}

.footer-body h2 {
  font-size: 11px;
  font-weight: 400;
  line-height: 2.27;
  letter-spacing: 0.846px;
  color: var(--white-color);
  text-transform: uppercase;
}

.footer-company {
  display: flex;
  flex-direction: column;
  width: 250px;
  padding-top: 42px;
  margin-left: 249px;
  margin-right: 71px;
}

.company-title {
  margin-bottom: 15px;
  width: 250px;
}

.footer-logo {
  margin-bottom: 15px;
  padding-top: 0;
}

.company-text {
  width: 250px;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.73;
  letter-spacing: 0.85px;
  color: var(--white-color);
}

.footer-links {
  padding-top: 42px;
  margin-right: 58px;
}

.links-title {
  margin-bottom: 6px;
}



.footer-links-wrapper {
  display: flex;
}

.links-column:nth-child(1) {
  margin-right: 35px;
}

.links-column:nth-child(2) {
  margin-right: 37px;
}

.footer-links-list {
  display: flex;
  flex-direction: column;
}

.footer-link {
  font-size: 11px;
  font-weight: 600;
  line-height: 2.27;
  letter-spacing: 0.846px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white-color);
}

.footer-contact {
  display: flex;
  flex-direction: column;
  padding-top: 42px;
  margin-right: 70px;
}

.contact-title {
  margin-bottom: 11px;
}

.footer-contact address,
.footer-contact-link,
.footer-copyright a,
.footer-copyright {
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.45;
  letter-spacing: 0.846px;
  text-decoration: none;
  color: var(--white-color);
}


.footer-soc1als {
  padding-top: 78px;
}

.footer-soc1als-list {
  display: flex;
  column-gap: 25px;
}

.footer-soc1als-image {
  width: 12px;
  height: 12px;
}

.footer-soc1als-item:nth-child(1) .footer-soc1als-image {
  background-color: var(--white-color);
}

.footer-soc1als-item:nth-child(2) .footer-soc1als-image {
  background-color: transparent;
}

.footer-soc1als-link {
  background-color: var(--white-color);
}

.footer-copyright {
  display: flex;
  min-height: 60px;
  justify-content: center;
  padding-top: 27px;
  padding-left: 17px;
  background-color: var(--bg-black);
}

@media (max-width: 1439px) {
  .footer-body {
    justify-content: space-evenly;
  }

  .footer-company,
  .footer-links,
  .footer-contact {
    margin-left: 0;
    margin-right: 0;
  }

  .links-column:nth-child(1),
  .links-column:nth-child(2) {
    margin-right: 15px;
  }

  .footer-copyright {
    padding-top: 0;
    padding-left: 0;
    align-items: center;
  }
}

@media (max-width: 1024px) {
  .header-title {
    padding-left: 0;
  }

  .header__bottom {
    padding-inline: 120px;
  }

  .header__bottom-logo {
    margin-right: 40px;
  }

  .about-block {
    padding-inline: 20px;
  }

  .about-title {
    margin-bottom: 30px;
    padding-top: 30px;
  }

  .about-fact:not(:last-child) {
    margin-bottom: 10px;
  }

  .services__items {
    padding-bottom: 20px;
  }
}


@media (max-width: 1000px) {
  .about__info {
    row-gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 50px;
    justify-content: center;
  }

  .about__info-text {
    margin-right: 20px;
    text-align: center;
  }

  .services-wrapper {
    padding-inline: 25px;
  }

  .services__header {
    margin-bottom: 20px;
  }

  .services__header-text {
    margin-right: 10px;
  }

  .sevices-title {
    margin-right: 50px;
  }

  .services__items {
    column-gap: 20px;
    row-gap: 20px;
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .header__bottom {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .header__bottom-logo {
    margin: 0 auto;
    padding-top: 10px;
  }

  .header__menu-list {
    justify-content: space-between;
  }

  .header__menu-item {
    padding-top: 0;
  }

  .newsletter-wrapper {
    flex-direction: column;
    row-gap: 20px;
    padding-top: 20px;
    width: 100%;
  }

  .footer-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-left: 100px;
  }

  .footer-company,
  .footer-links {
    padding-top: 15px;
  }

  .footer-contact {
    padding-top: 0;
    margin-bottom: 10px;
  }
}

@media (max-width: 650px) {
  .services__header {
    flex-direction: column;
    row-gap: 15px;
  }

  .sevices-title,
  .services__header-text {
    margin-right: 0;
  }

  .sevices-title::after {
    margin-inline: auto;
  }

  .footer-body {
    padding-left: 60px;
  }
}

@media (max-width: 600px) {
  .footer-body {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding-left: 0;
    justify-items: center;
  }

  .footer-body h2 {
    text-align: center;
  }

  .footer-company {
    align-items: center;
    padding-top: 15px;
    margin-bottom: 0;
  }

  .footer-links,
  .footer-contact {
    padding-top: 0;
    margin-bottom: 0;
  }

  .footer-contact {
    padding-top: 0;
    margin-bottom: 10px;
  }

  .footer-soc1als {
    padding-top: 0;
    margin-bottom: 10px;
  }
}

@media (max-width: 540px) {
  .header-title-description:not(:last-child) {
    margin-bottom: 150px;
  }
}

@media (max-width: 500px) {
  .about__taglines {
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: center;
  }

  .newsletter-wrapper form {
    flex-direction: column;
    row-gap: 20px;
  }
}

@media (max-width: 360px) {
  .header-title-description:not(:last-child) {
    padding-inline: 15px;
    line-height: 1.5;
  }

  .header__menu-list {
    flex-direction: column;
    align-items: center;
  }

  .header__bottom-logo {
    margin-bottom: 10px;
  }

  .header__menu-item:nth-child(1) {
    margin-right: 0;
  }

  .header__menu-item:nth-child(2) {
    margin-right: 0;
  }

  .header__menu-item:nth-child(3) {
    margin-right: 0;
  }

  .header__menu-item:nth-child(4) {
    margin-right: 0;
  }

  .build-title {
    width: 250px;
    font-size: 25px;
  }
}